# CPT_S 415 Youtube Dataset Project
### Matt Clark, Thomas Davenport, Amir Gholami

The purpose of this project was to run multiple implementations of PageRank algorithms on a Dataset of YouTube videos collected in 2007 and compare them with eachother as well as our fond memories of better times. After experimenting with this project, 2007 was truly the Golden Age of the Internet.

In [4]:
from pyspark.sql.types import *
from pyspark import *
sc.getConf().getAll()

[('spark.files',
  'file:///Users/yujingzhu/.ivy2/jars/graphframes_graphframes-0.8.1-spark3.0-s_2.12.jar,file:///Users/yujingzhu/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar'),
 ('spark.executor.id', 'driver'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.driver.port', '52091'),
 ('spark.repl.local.jars',
  'file:///Users/yujingzhu/.ivy2/jars/graphframes_graphframes-0.8.1-spark3.0-s_2.12.jar,file:///Users/yujingzhu/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar'),
 ('spark.driver.maxResultSize', '4G'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.submit.pyFiles',
  '/Users/yujingzhu/.ivy2/jars/graphframes_graphframes-0.8.1-spark3.0-s_2.12.jar,/Users/yujingzhu/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.jars',
  'file:///Users/yujingzhu/.ivy2/jars/graphframes_graphframes-0.8.1-spark3.0-s_2.12.jar,file:///Users/yujingzhu/.ivy2/jars/org.slf4j_slf4j-api-1.7.16.jar'),
 ('spark.master', 'local[*]'),
 ('spark.driver.host', 'yujings-air.lan'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.memory', '4G'),
 ('spark.app.id', 'local-1607897570633'),
 ('spark.ui.showConsoleProgress', 'true')]

## File/Schema Setup

In [5]:
files = ['0222','0305','0314','0320','0329','0418','0426','0502','0511',
        '0301','0306','0315','0322','0403','0420','0428','0505','0513',
        '0302','0309','0316','0325','0410','0422','0430','0507','0515',
        '0303','0313','0318','0327','0413','0424','0509','0518',
        '080327','080329','080331','080402','080514','080623',
        '080404','080516','080625','080406','080518','080627',
        '080408','080520','080629','080412','080522','080701',
        '080414','080524','080703','080416','080526','080705',
        '080418','080528','080707','080422','080530','080709',
        '080424','080601','080711','080426','080603','080713',
        '080428','080605','080715','080430','080609','080717',
        '080502','080611','080719','080504','080613','080721',
        '080506','080615','080723','080327','080508','080617','080725',
        '080329','080510','080619','080727','080331','080512','080621',]   # these are the folder names that contain .txt documents
print(len(files))

path = 'file:///Users/yujingzhu/Downloads/CPTS415PROJ/'
schema = StructType([
    StructField("videoID", StringType()),
    StructField("uploader", StringType()),
    StructField("age", IntegerType()),
    StructField("cateory", StringType()),
    StructField("length", IntegerType()),
    StructField("views", IntegerType()),
    StructField("rate", FloatType()),
    StructField("ratings", IntegerType()),
    StructField("comments", IntegerType()),
    StructField("rec1", StringType()),
    StructField("rec2", StringType()),
    StructField("rec3", StringType()),
    StructField("rec4", StringType()),
    StructField("rec5", StringType()),
    StructField("rec6", StringType()),
    StructField("rec7", StringType()),
    StructField("rec8", StringType()),
    StructField("rec9", StringType()),
    StructField("rec10", StringType()),
    StructField("rec11", StringType()),
    StructField("rec12", StringType()),
    StructField("rec13", StringType()),
    StructField("rec14", StringType()),
    StructField("rec15", StringType()),
    StructField("rec16", StringType()),
    StructField("rec17", StringType()),
    StructField("rec18", StringType()),
    StructField("rec19", StringType()),
    StructField("rec20", StringType())
])

97

## Serialized Comparison

In [14]:
%%timeit
comp = path + files[0] +'/4.txt'
compdf = spark.read.csv(comp, sep=r'\t', header = False, schema = schema)

noNull = compdf.where(compdf.videoID != 'null') # filtering out videoIDs that are null
noNull.createOrReplaceTempView("compDF") # allows to view as SQL table 
cedges1 = spark.sql(
      """
        SELECT videoID, rec1 as Reccomends
        FROM compDF
        """)
cedges2 = spark.sql(
      """
        SELECT videoID, rec2 as Reccomends
        FROM compDF
        """)

cedges3 = spark.sql(
      """
        SELECT videoID, rec3 as Reccomends
        FROM compDF
        """)

cedges4 = spark.sql(
      """
        SELECT videoID, rec4 as Reccomends
        FROM compDF
        """)

cedges5 = spark.sql(
      """
        SELECT videoID, rec5 as Reccomends
        FROM compDF
        """)

cedges6 = spark.sql(
      """
        SELECT videoID, rec6 as Reccomends
        FROM compDF
        """)

cedges7 = spark.sql(
      """
        SELECT videoID, rec7 as Reccomends
        FROM compDF
        """)

cedges8 = spark.sql(
      """
        SELECT videoID, rec8 as Reccomends
        FROM compDF
        """)

cedges9 = spark.sql(
      """
        SELECT videoID, rec9 as Reccomends
        FROM compDF
        """)

cedges10 = spark.sql(
      """
        SELECT videoID, rec10 as Reccomends
        FROM compDF
        """)

cedges11 = spark.sql(
      """
        SELECT videoID, rec11 as Reccomends
        FROM compDF
        """)

cedges12 = spark.sql(
      """
        SELECT videoID, rec12 as Reccomends
        FROM compDF
        """)

cedges13 = spark.sql(
      """
        SELECT videoID, rec13 as Reccomends
        FROM compDF
        """)

cedges14 = spark.sql(
      """
        SELECT videoID, rec14 as Reccomends
        FROM compDF
        """)

cedges15 = spark.sql(
      """
        SELECT videoID, rec15 as Reccomends
        FROM compDF
        """)

cedges16 = spark.sql(
      """
        SELECT videoID, rec16 as Reccomends
        FROM compDF
        """)

cedges17 = spark.sql(
      """
        SELECT videoID, rec17 as Reccomends
        FROM compDF
        """)

cedges18 = spark.sql(
      """
        SELECT videoID, rec18 as Reccomends
        FROM compDF
        """)

cedges19 = spark.sql(
      """
        SELECT videoID, rec19 as Reccomends
        FROM compDF
        """)

cedges20 = spark.sql(
      """
        SELECT videoID, rec20 as Reccomends
        FROM compDF
        """)

compedges = cedges1.union(cedges2).union(cedges3).union(cedges4).union(cedges5).union(cedges6).union(cedges7).union(cedges8).union(cedges9).union(cedges10).union(cedges11).union(cedges12).union(cedges13).union(cedges14).union(cedges15).union(cedges16).union(cedges17).union(cedges18).union(cedges19).union(cedges20)
compedges.createOrReplaceTempView('compedges')
sqlcomp = spark.sql(
     """
       SELECT videoID as src, Reccomends as dst
       FROM compedges
        """)

cvertices = spark.sql(
    """
    SELECT DISTINCT videoID as id
    FROM compdf
    """
)

cnoNullEdges = sqlcomp.where(sqlcomp.dst != 'null')

c = cvertices
d = cnoNullEdges

compar= GraphFrame(c, d)

comparisonresults = compar.pageRank(resetProbability= 0.15, maxIter = 3)

comparisonresults.vertices.createOrReplaceTempView("cresults")
test =  spark.sql(
                """
                SELECT *
                FROM cresults
                ORDER BY pagerank desc
                """
)

test.show()

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg|277.45315334373527|
|qqU_uh4QxRY| 274.8013551210236|
|WSXAfmR2LVc|157.25308297188172|
|-nidMxvnWko|148.52952769477182|
|Hd2vZ6dDN0g|125.11503977089036|
|ZJdfjo4HYII|118.33500319834718|
|drylZu9_OWU| 105.9590198452979|
|O40jJXVow2g|100.38387783677886|
|bPnARnCDgHE|   93.757606526084|
|z6r8AyWmPuw|  82.4044404526089|
|G_MsWsVZChs| 81.64879700331703|
|EJZQeelvgo8| 79.43639229240527|
|SeVwUrEuxhI| 75.07726908667428|
|m3A5FsE9RzI| 69.09430757886146|
|0EpuGL3Z56w| 68.28787717755465|
|SOAGE2kb10Q|60.291528440416286|
|W41T841OZTg| 59.61476749529075|
|5ccMkUtjqtM| 59.60586606019149|
|xyIGvlHxoEw|58.998315088188626|
|NdQLPQWtBzw|  58.1027869502931|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437354|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188178|
|-nidMxvnWko|148.52952769477187|
|Hd2vZ6dDN0g| 125.1150397708904|
|ZJdfjo4HYII|118.33500319834722|
|drylZu9_OWU|105.95901984529795|
|O40jJXVow2g|100.38387783677891|
|bPnARnCDgHE| 93.75760652608403|
|z6r8AyWmPuw| 82.40444045260892|
|G_MsWsVZChs| 81.64879700331706|
|EJZQeelvgo8|  79.4363922924053|
|SeVwUrEuxhI|  75.0772690866743|
|m3A5FsE9RzI| 69.09430757886149|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q| 60.29152844041631|
|W41T841OZTg| 59.61476749529077|
|5ccMkUtjqtM| 59.60586606019151|
|xyIGvlHxoEw| 58.99831508818864|
|NdQLPQWtBzw| 58.10278695029312|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|uBDXh1nHIUg| 277.4531533437353|
|qqU_uh4QxRY| 274.8013551210237|
|WSXAfmR2LVc|157.25308297188175|
|-nidMxvnWko|148.52952769477184|
|Hd2vZ6dDN0g|125.11503977089039|
|ZJdfjo4HYII|118.33500319834721|
|drylZu9_OWU|105.95901984529792|
|O40jJXVow2g|100.38387783677888|
|bPnARnCDgHE| 93.75760652608402|
|z6r8AyWmPuw| 82.40444045260891|
|G_MsWsVZChs| 81.64879700331704|
|EJZQeelvgo8| 79.43639229240529|
|SeVwUrEuxhI| 75.07726908667429|
|m3A5FsE9RzI| 69.09430757886147|
|0EpuGL3Z56w| 68.28787717755466|
|SOAGE2kb10Q|  60.2915284404163|
|W41T841OZTg|59.614767495290764|
|5ccMkUtjqtM|  59.6058660601915|
|xyIGvlHxoEw| 58.99831508818863|
|NdQLPQWtBzw| 58.10278695029311|
+-----------+------------------+
only showing top 20 rows

3min 18s ± 19.6 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Reading in and Joining 2007 Data
       We also removed any possible null videoID tuples to reduce size of data

In [3]:


############### THIS SHOULD BE A LOOP HOWEVER I CANNOT FIGURE OUT HOW TO UTILIZE A LIST OF RDDS
j = 0
loopath = path + str(files[j]) +'/'
df1 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df2 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df3 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df4 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df5 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df6 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df7 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df8 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df9 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df10 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df11 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df12 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df13 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df14 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df15 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df16 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df17 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df18 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df19 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df20 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df21 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df22 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df23 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df24 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df25 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df26 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df27 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df28 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df29 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df30 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df31 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df32 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df33 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df34 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
 
loopath = path + str(files[j]) +'/'
df35 = spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j+=1
     
print('START')

finalDF = df1.union(df2).union(df3).union(df4).union(df5).union(df6).union(df7).union(df9).union(df8).union(df10).union(df11).union(df12).union(df13).union(df14).union(df15).union(df16).union(df17).union(df18).union(df19).union(df20).union(df21).union(df22).union(df23).union(df24).union(df25).union(df26).union(df27).union(df28).union(df29).union(df30).union(df31).union(df32).union(df33).union(df34).union(df35)
# union all of the df RDDs that were read
finalDF.show() # show the final DF
noNullDF = finalDF.where(finalDF.videoID != 'null') # filtering out videoIDs that are null
noNullDF.createOrReplaceTempView("finalDF") # allows to view as SQL table

START
+-----------+----------------+----+----------------+------+------+----+-------+--------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|    videoID|        uploader| age|         cateory|length| views|rate|ratings|comments|       rec1|       rec2|       rec3|       rec4|       rec5|       rec6|       rec7|       rec8|       rec9|      rec10|      rec11|      rec12|      rec13|      rec14|      rec15|      rec16|      rec17|      rec18|      rec19|      rec20|
+-----------+----------------+----+----------------+------+------+----+-------+--------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|1xbSFrHzFQ0|        Ireton06| 482|Film & Animation|   245|  9780| 4.0|      9|       6|7vNsnB_qFGA|ndnlUZxB1pg|y8AkKnLMELo|aLAIaFdDHUQ|tY7XxpwDd_8|Yl_A7r1D_OE|YBSoLnN9AiM|wKecR3arrnQ|MG6NYhMRCgs|VvnSYenJRVQ|krtueF7CnCs|hZ0-sKxr_8Y|bI53cIMWjLQ|jC0Kdp8AQK8|x0fN3DYfIF0|TGfmE6NlIe0|BaBLJv3jQMI|OC8jUahyJbM|NwqBo9J2Ya0|2FD6kR5AqG4|
|4VP4qSjDNQs|    themaster095| 718|Film & Animation|   528|    17| 0.0|      0|       0|FJXOBibQLpc|EnPxBagNn1k|pWFpu0pS5w8|q6w5hPbzMvc|HEMv0JGT_w0|pn9KCxQpxIA|hGUFra04-Go|PPc4Ej4TS18|9Ph_0sXd-pQ|yM_hbsGjb5s|BPgxvlM6j6I|32pbWDmM_gY|c5c6EDSnXOE|7_dL8ryvixE|sdkpVwEMrz0|l4GD8Ea-zl0|qyTbVmt-eFY|Gs-FmY9JI9o|2uANjyuOv-I|Pic-eGLctY4|
|RJgGeYiJrj0|   SpecialtyActs| 526|   Entertainment|    82|  1156|4.33|      9|       2|G2dE3AEGFhY|3TdnDKdg5TA|dFhKfEOQm0E|XYaCuq_Y1y0|Z3E96UmK8As|jO2mT9JAuH8|UDAWdEUoaII|EW7mt5u8iWQ|wyRyrqNbW1U|lLwNHprgHv8|VqI0w0VStJ0|vZx9UVxg7r8|QjDhjXG91LY|XmHNqe23P0k|L67SFTqBeXo|p07zGg1sQkw|lon4jR8YSv0|hvvmopDfWq4|bh0UDi8t4Fo|FsxZbaxut2w|
|MqySp7Nq5j0|wumingfoundation| 614|   Entertainment|   688| 93611|4.28|     64|      27|7aLwNXyn-Oo|lE_IxGjmtdM|SFdlbq8RZMo|PLi81AiAOUI|1VkVRlUn5s4|27On1afCOnM|HkwIFuNjFXo|loeIV4RLw9M|Vatw8Ru5aUY|UOqkdnF-9-s|mWnENjYuYRQ|9-qA_OeIUH4|kifKMiKpDRA|7kJXoFh8ccM|YIJjS2sCDpA|EPX0eHNeBLc|CkAmZK9UzWg|oAgTgCK0ETU|9g7-UD_mpOs|aAl1uQ9JqU8|
|MC--VwYTHAM|     sk8ter14475| 427|Film & Animation|   248| 51820|4.39|    109|      72|AFUynmUi-ok|DcLD7OoEzkI|sEII_trLOIE|GrusMyXfgiY|OtFpiXkX_mo|zpStscOTU9s|22Zs65Pvzto|X8SDpNM4Yko|fkkDESIjyhY|n8bBFdlFCUc|ZDHSbrPZH4A|t2lEk4PQIs4|vtgPAQTJLQs|l9FA3KK3VEY|WcGzpWzLDcU|i0kouCaxBSU|VPrcuNvtNUk|nYprMNxcX4w|9W2dzhNyglo|FV6nJxg7mM0|
|eVdiIbWT60M|          m4df0x|null|            UNA |   171| 84754|4.29|     84|      43|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|       null|
|Da80HD18tp0|       myemma100| 468|Film & Animation|   224|163183|4.39|    187|      70|MqySp7Nq5j0|v2uEfmWO6z8|MC--VwYTHAM|4SSZBAPleVc|eVdiIbWT60M|tdRBH7VBrSY|LvIDRoO8KnM|1ZU_ytaZTxg|xKvzxLeY0iQ|gompU_uhYq0|mhfp6Z8z1cI|CiPPxBxPBOw|MeFi3SDi_n8|oV0cDx_gS_A|YUhlHMb1qKU|_Wud5vSIQ0I|j1oGIffyVVk|PLkQHjgD3rg|Eja6kvGN5v0|X7woJN8KNqM|
|mhfp6Z8z1cI|    puntadeleste| 566|Film & Animation|   512|  6970|4.87|     23|      13|HeIApq5MeTw|9CdsANAXwBM|j_WMrTkM1hs|cxRudB_XXPc|MqySp7Nq5j0|MC--VwYTHAM|4SSZBAPleVc|eVdiIbWT60M|Da80HD18tp0|tdRBH7VBrSY|LvIDRoO8KnM|xKvzxLeY0iQ|1ZU_ytaZTxg|gompU_uhYq0|CiPPxBxPBOw|oV0cDx_gS_A|YUhlHMb1qKU|MeFi3SDi_n8|YRi20cWMYOM|PLkQHjgD3rg|
|tdRBH7VBrSY|     disneykid23| 438|   Entertainment|   253| 35785|4.65|    138|      51|zvd_BUWDnSA|zWPHVgM-H8I|Y1E8kCVadAw|OhDuVwe6Rto|N_HsOsigEjo|DAR4ZNWBYf0|yNOwc6UjYwU|Lgxzcld-LLM|bTgZREEHiDo|MNKrPTZRq48|cUDyYo8gN3c|1QwD5CMF1IQ|bXno7Bb4-Fk|X5mx1YjIWI0|nzd09OUSBl8|gapch5NTTkQ|OcBnOkx8wd8|zPKKh2nYqSA|jsKHMrPR5z8|83yEoL6qf2w|
|xKvzxLeY0iQ|       AnimeAnge| 516|   Entertainment|   474| 12724|4.69|     55|      18|ojg0bqCuHiw|xBb3gArg90g|giTgzsFjm3Q|BuwzqTut3nY|5o00znI21oI|1W3XK7ujVxU|x7iUl_bPL4M|XCzqRA33tXc|OchvLYpTf38|JMOoJwTfr6c|4ickYn3BXUc|RIGmBPhg3c8|RyuTVGFSUOc|9Sg_ENsXYP0|5q_I2GQlLTw|uPggxeEuRBU|Yan4eAx-W-Q|fPgWPpQELi4|8C81Zwsyk_o|nJcRpHQDQC0|
|_I2EZYCdUXI|        magogami| 334|          Comedy|   144| 53371| 4.8|    327|      95|VpAFZrXHmus|H1GH92mv1cg|fpzBXcINJIM|83mcABtS3eo|34Io83aeMq4|4fjQ3gd5Kn8|3cL1uLcaG3w|w3-WzqfbVHU|EwIbz9SEzRI|4l5etjhNyUI|rRvKODfqOLs|FYRH2jp2wzs|ALJVhTOiL-E|7putw2A4FiI|KgOhVM7GN5o|N0iK7WFqGWk|aTUsz_9B9RY|-1JYvjetABs|7P1l0FoX6e0|qnNbleh6s10|
|gompU_uhYq0|     unclejimboy| 491|Film & Animation|   211| 37341|4.55|     22|      21|FTQlGJF6TRQ|LiVa2vsYghE|t7GJUB7XWtQ|4op9TYRP1yI|-pERlfYNT_Q|A7vRhyrtNkY|N75xU3RiSPo|wfJhuh8_-GA|r5adby3uKO4|v6fRoaUpN7U|E-fK6bXEfZY|jAXc8d1NmLE|W2LHkU2dW8M|BPCFHKdxDjQ|75dhTlZcW9Y|0Qcr3m7SaNI|VwZ44CE4jJY|SnyDZ0uGPsQ|xIEaZDJqc5w|BeYPqR9aw00|
|CiPPxBxPBOw|        jra81984| 691| News & Politics|   124|220883|3.36|    279|    1089|O0xoEtCHgA8|ns22hXjb1Zc|S4Z3hjPuzJ0|uDojz-rb8Ec|zaeaEZ1ZceI|7CGeiFTdits|uMG-9ubqDtk|eulT4m7WX3k|yuDT7-5RwAE|STptWddu4oA|FvkcNnCbMWA|Vsj99WaAr_Q|I3sE58IDKXI|qVUjsgUDnAk|-NvAS6XDWO4|p0ifdL7aegg|59VWIAzXsxE|MliIh16yDd4|zYS5VFvSMws|VeXbId2P6Yc|
|YRi20cWMYOM|   incubusfanclm| 452|           Music|   148|269290|4.88|    854|     248|8FsGqhbBb8w|G-e06GNDBsY|Tdc1KVjKWng|KrhWjOSINFM|iZY2HlmKPy8|LTvu7Qs50w8|tIVvG_xz2sw|9R9oCMRT-uk|cQ-l0VnQMEg|5XallJsDgj4|qi8ymxhyXok|QjzQx3tkE3o|sl7BQnDg7tE|8JSRS6Syo9E|NYEwcjXzLwQ|Fd-U2EXTvhs|TINPobJVFEc|CM370UtN-cs|cac5buQfibU|KdSeSYamkgY|
|v2uEfmWO6z8|          mimzi8| 601|Film & Animation|   361| 25341|4.63|     78|      44|AItaLnpbIAw|0X_of0woMBU|yJ0s-kwG_Ro|qThc1spQuiY|WCEH9RZZKdU|8ZgFpRZeCds|PQfyKAo0-ls|5peppnUHf9I|Dx3ri8EVEvE|ofmQOjZYLDI|Ndtp2wP31K4|HEo6U-jkD4I|3DG1XyqgX3w|b7M2mrnSZpM|5gJ21l8_4II|MqySp7Nq5j0|MC--VwYTHAM|4SSZBAPleVc|eVdiIbWT60M|Da80HD18tp0|
|2t2Fe_ixWpI|        arorange| 277|  People & Blogs|   229|118356|4.39|    124|      55|MqySp7Nq5j0|v2uEfmWO6z8|MC--VwYTHAM|4SSZBAPleVc|eVdiIbWT60M|Da80HD18tp0|tdRBH7VBrSY|LvIDRoO8KnM|1ZU_ytaZTxg|xKvzxLeY0iQ|gompU_uhYq0|mhfp6Z8z1cI|CiPPxBxPBOw|MeFi3SDi_n8|oV0cDx_gS_A|YUhlHMb1qKU|j1oGIffyVVk|PLkQHjgD3rg|Eja6kvGN5v0|X7woJN8KNqM|
|bBml9opQxnc|    OnRideVideos| 520| Travel & Places|   456| 32690|4.71|    114|      82|IGCHodIZrd4|ZO2M6Eueks0|Fr2WGH_zEjg|csIy1_V37YM|md6rjuJ00mE|9ZGYPvlcX-E|eVwrfC1o3zA|CpmUCcOhP3Y|sNCz66RfNik|3l8bgbGbtYU|WxtzxebKSX4|Oxr7Ivr92_w|GWGdZzof3yw|_sF5U8CUJZU|KscJb3YSuwA|OZ_wBnsJ5KA|uUcUE1NvWmg|OiHvBql4w3s|SkW11ZdOb0w|eVC_hW28dng|
|1ZU_ytaZTxg|  sparklestar502| 423|           Music|   207|126044|4.76|    551|     147|Y1ZRelAjGKA|kY1tylDMbxM|aac2R-99r9s|Hzs_Fu1O7jo|hffyCy6CjDg|Xy4bneK_GjA|V5x-4CissvU|DzrKA-h76X0|l41EH-A4Mes|WkslaYosKEw|LF9kjt5DFXs|kZwXp_FyIZw|O1pMCWtrvMQ|00-jcFBUlK4|WU7M6cfBwdk|UUJGkXHR6oQ|LWdAuSvW9aM|0f4Pddef9PQ|o07siZPGlXg|nNhcTCNo7c8|
|NVRkDihnHB0|       BMcPhurry| 658|           Music|   165|   313| 0.0|      0|       0|XeRBsvGOfJA|OtlsTaOYpW8|BXwWKzUbX1A|f4xYLTgnVLY|uSgJPrr9EKQ|sPYphhaMnmI|SQEGZ1WIyoo|Guu4HU7hin4|HlFC_a-yhUo|Eq-hrO3nJT0|_avMIT7aouA|qcw0-Ym3IBA|QTaaBQ-oEtg|Y6kDAW3aIkg|VdrHvuHYWzc|YMwf9DT_oL8|Lg1MJbNiW7c|y0f0L1GrI2g|AffXeOC4em4|wHZ03-ebDd0|
|wL1-yb-vb1o|          twinxy| 428|   Entertainment|   246|  6469|4.27|     41|      37|KRoFp1xpbWQ|qcw0-Ym3IBA|aGS5U37SafQ|RgA_z3DXfFI|mkTWQrkEdTs|DzeJJ30DHtg|Qg50zQfnJdE|yCpjkD6vz-g|NqvtV3ILIWY|-KHggKpoG3g|QjhEnilCIWM|U-quY1hbbmw|zU-4as8z5xg|TC064TClS80|k7-howVC5Uk|rcXc2A9BmSg|hRDZ2wP6XNI|uyHxkcsTnF0|Ew0bMPYoPHo|MQdC_wjSZpM|
+-----------+----------------+----+----------------+------+------+----+-------+--------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

## Separating Edges from DataFrame 
    PageRank requires a directed graph, this step transforms all recommendation links into a directed edge table, src->dst

In [4]:
edges1 = spark.sql(
      """
        SELECT videoID, rec1 as Reccomends
        FROM finalDF
        """)
edges2 = spark.sql(
      """
        SELECT videoID, rec2 as Reccomends
        FROM finalDF
        """)

edges3 = spark.sql(
      """
        SELECT videoID, rec3 as Reccomends
        FROM finalDF
        """)

edges4 = spark.sql(
      """
        SELECT videoID, rec4 as Reccomends
        FROM finalDF
        """)

edges5 = spark.sql(
      """
        SELECT videoID, rec5 as Reccomends
        FROM finalDF
        """)

edges6 = spark.sql(
      """
        SELECT videoID, rec6 as Reccomends
        FROM finalDF
        """)

edges7 = spark.sql(
      """
        SELECT videoID, rec7 as Reccomends
        FROM finalDF
        """)

edges8 = spark.sql(
      """
        SELECT videoID, rec8 as Reccomends
        FROM finalDF
        """)

edges9 = spark.sql(
      """
        SELECT videoID, rec9 as Reccomends
        FROM finalDF
        """)

edges10 = spark.sql(
      """
        SELECT videoID, rec10 as Reccomends
        FROM finalDF
        """)

edges11 = spark.sql(
      """
        SELECT videoID, rec11 as Reccomends
        FROM finalDF
        """)

edges12 = spark.sql(
      """
        SELECT videoID, rec12 as Reccomends
        FROM finalDF
        """)

edges13 = spark.sql(
      """
        SELECT videoID, rec13 as Reccomends
        FROM finalDF
        """)

edges14 = spark.sql(
      """
        SELECT videoID, rec14 as Reccomends
        FROM finalDF
        """)

edges15 = spark.sql(
      """
        SELECT videoID, rec15 as Reccomends
        FROM finalDF
        """)

edges16 = spark.sql(
      """
        SELECT videoID, rec16 as Reccomends
        FROM finalDF
        """)

edges17 = spark.sql(
      """
        SELECT videoID, rec17 as Reccomends
        FROM finalDF
        """)

edges18 = spark.sql(
      """
        SELECT videoID, rec18 as Reccomends
        FROM finalDF
        """)

edges19 = spark.sql(
      """
        SELECT videoID, rec19 as Reccomends
        FROM finalDF
        """)

edges20 = spark.sql(
      """
        SELECT videoID, rec20 as Reccomends
        FROM finalDF
        """)

finaledges = edges1.union(edges2).union(edges3).union(edges4).union(edges5).union(edges6).union(edges7).union(edges8).union(edges9).union(edges10).union(edges11).union(edges12).union(edges13).union(edges14).union(edges15).union(edges16).union(edges17).union(edges18).union(edges19).union(edges20)
finaledges.createOrReplaceTempView('finaledges')
sqlFinalEdges = spark.sql(
     """
       SELECT videoID as src, Reccomends as dst
       FROM finaledges
        """)
#sqlFinalEdges.show()

## Selecting distinct VideoIDs 
    Our data was collected almost daily, so there were some videos who had their data collected multiple times.

In [5]:
vertices = spark.sql(
    """
    SELECT DISTINCT videoID as id
    FROM finalDF
    """
)

## Removing all null values in our Edge Table
    Videos can recommend 0-20 videos on YouTube, we removed any null values to decrease sparcity.

In [6]:
noNullEdges = sqlFinalEdges.where(sqlFinalEdges.dst != 'null')

## We used GraphFrames PageRank functionality For our Parallel Algorithm

In [11]:
from graphframes import GraphFrame

In [22]:
v = vertices
e = noNullEdges
#e.cache()
#v.cache()

In [23]:
g = GraphFrame(v, e)
results = g.pageRank(resetProbability= 0.15, maxIter = 3)
#results.vertices.show()

In [24]:
results.vertices.createOrReplaceTempView("results")
test =  spark.sql(
                """
                SELECT *
                FROM results
                ORDER BY pagerank desc
                """
)

test.show()

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|H1BYrSk46vg|169.21998815123456|
|n6x7jyFAf7E|166.55954282915377|
|nypYVhnGbcQ|165.11300878534232|
|22uYDgZXoJQ|159.08543680676843|
|9nbeqmXEbj8| 155.9309649524114|
|JrUupfFzBrA|155.84055734355525|
|qcw0-Ym3IBA|155.40648959962954|
|CsE1oZX3Eco| 151.6517640032689|
|y2jUOABWK1A| 145.1153206847998|
|13n8OpQS9Dg|144.32517179075552|
|oeGjJ-joZdI|142.79058337594088|
|JbQr_7VNIeA| 136.9054140263238|
|R7RWQSpArm8|136.74600110052222|
|udr9sLkoZ0s| 135.5397200555263|
|QLrEcMq_nPQ| 135.3746348347861|
|UjYvKPh8geM|135.13248746634085|
|dv8eQXeishc|134.17753442913138|
|8AInR7EZ-zo|128.56132524038395|
|5FQN_MYRm4U|127.82728547505947|
|c6VAs8uZjlU|127.39860998828337|
+-----------+------------------+
only showing top 20 rows

## GraphFrames also has Pregel Model Functionality
    Credit: GraphFrames.github.io

In [9]:
from pyspark.sql.functions import coalesce, col, lit, sum, when
from graphframes.lib import Pregel
v = vertices
e = noNullEdges
e.cache()
numVertices = v.count()
print(numVertices)
l = GraphFrame(v, e).outDegrees
l.cache()
graph = GraphFrame(l, e)
alpha = 0.15
ranks = graph.pregel \
        .setMaxIter(1) \
        .withVertexColumn("rank", lit(1.0/numVertices), \
                            coalesce(Pregel.msg(), lit(0.0)) * lit(1.0-alpha) + lit(alpha / numVertices)) \
        .sendMsgToDst(Pregel.src("rank") / Pregel.src("outDegree")) \
        .aggMsgs(sum(Pregel.msg())) \
        .run()

3182185

In [10]:
#ranks.show()
ranks.createOrReplaceTempView("Pregle")
ay = spark.sql (
        """
        SELECT *
        FROM Pregle
        ORDER BY rank DESC
        """)
ay.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|22uYDgZXoJQ|       20|3.820185943088657E-5|
|dMH0bHeiRNg|       40| 3.51604572342785E-5|
|H1BYrSk46vg|       20|3.390903343858859E-5|
|pv5zWaTEVkI|       40|3.329189344690189...|
|qcw0-Ym3IBA|       40|3.315816168818532E-5|
|n6x7jyFAf7E|       40|3.246776192733975E-5|
|nypYVhnGbcQ|       20|3.241673543736694E-5|
|dv8eQXeishc|       20|3.215098003153404...|
|9nbeqmXEbj8|       20|3.188640143881359...|
|CsE1oZX3Eco|       40|3.130772169942119...|
|vr3x_RRJdd4|       40|3.037148956486398...|
|JrUupfFzBrA|       20|3.036570721206525...|
|13n8OpQS9Dg|       20|2.983311537205251...|
|udr9sLkoZ0s|       40|2.981646718279201...|
|y2jUOABWK1A|       20|2.965170513262858E-5|
|5FQN_MYRm4U|       20|2.903632293676921E-5|
|cQ25-glGRzI|       20|2.891407724128564...|
|1dmVU08zVpA|       40|2.821521020700072...|
|oeGjJ-joZdI|       20|2.773573772046938...|
|QLrEcMq_nPQ|       20|2.757030527562546...|
+-----------+---------+--------------------+
only showing top 20 rows

In [3]:
sqlContext.clearCache()
spark.catalog.clearCache()

# 2008 Data
    After exploring 2007 data, something wasn't right, something was missing...

In [3]:

j =35
loopath = path + str(files[j]) +'/'
df36= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df37= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df38= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df39= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df40= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df41= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df42= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df43= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df44= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df45= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df46= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df47= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df48= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df49= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df50= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df51= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df52= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df53= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df54= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df55= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df56= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df57= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df58= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df59= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df60= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df61= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df62= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df63= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df64= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df65= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df66= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df67= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df68= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df69= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df70= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df71= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df72= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df73= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df74= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df75= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df76= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df77= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df78= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df79= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df80= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1
loopath = path + str(files[j]) +'/'
df81= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df82= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df83= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df84= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df85= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df86= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df87= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df88= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df89= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df90= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df91= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df92= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

loopath = path + str(files[j]) +'/'
df93= spark.read.csv(loopath, sep=r'\t', header=False, schema = schema)
j +=1

df2008 = df36.union(df37).union(df38).union(df39).union(df40).union(df41).union(df42).union(df43).union(df44).union(df45).union(df46).union(df47).union(df48).union(df49).union(df50).union(df51).union(df52).union(df53).union(df54).union(df55).union(df56).union(df57).union(df58).union(df59).union(df60).union(df61).union(df62).union(df63).union(df64).union(df65).union(df66).union(df67).union(df68).union(df69).union(df70).union(df71).union(df72).union(df73).union(df74).union(df75).union(df76).union(df77).union(df78).union(df79).union(df80).union(df81).union(df82).union(df83).union(df84).union(df85).union(df86).union(df87).union(df88).union(df89).union(df90).union(df91).union(df92).union(df93)
noNullDF2008 = df2008.where(df2008.videoID != 'null') # filtering out videoIDs that are null
noNullDF2008.createOrReplaceTempView("DF2008") # allows to view as SQL table

In [4]:
subset = spark.sql(
        """
        SELECT * 
        FROM DF2008
       
        """)
subset.createOrReplaceTempView("finalDF2008")


e1 = spark.sql(
      """
        SELECT videoID, rec1 as Reccomends
        FROM finalDF2008
        """)
e2 = spark.sql(
      """
        SELECT videoID, rec2 as Reccomends
        FROM finalDF2008
        """)

e3 = spark.sql(
      """
        SELECT videoID, rec3 as Reccomends
        FROM finalDF2008
        """)

e4 = spark.sql(
      """
        SELECT videoID, rec4 as Reccomends
        FROM finalDF2008
        """)

e5 = spark.sql(
      """
        SELECT videoID, rec5 as Reccomends
        FROM finalDF2008
        """)

e6 = spark.sql(
      """
        SELECT videoID, rec6 as Reccomends
        FROM finalDF2008
        """)

e7 = spark.sql(
      """
        SELECT videoID, rec7 as Reccomends
        FROM finalDF2008
        """)

e8 = spark.sql(
      """
        SELECT videoID, rec8 as Reccomends
        FROM finalDF2008
        """)

e9 = spark.sql(
      """
        SELECT videoID, rec9 as Reccomends
        FROM finalDF2008
        """)

e10 = spark.sql(
      """
        SELECT videoID, rec10 as Reccomends
        FROM finalDF2008
        """)

e11 = spark.sql(
      """
        SELECT videoID, rec11 as Reccomends
        FROM finalDF2008
        """)

e12 = spark.sql(
      """
        SELECT videoID, rec12 as Reccomends
        FROM finalDF2008
        """)

e13 = spark.sql(
      """
        SELECT videoID, rec13 as Reccomends
        FROM finalDF2008
        """)

e14 = spark.sql(
      """
        SELECT videoID, rec14 as Reccomends
        FROM finalDF2008
        """)

e15 = spark.sql(
      """
        SELECT videoID, rec15 as Reccomends
        FROM finalDF2008
        """)

e16 = spark.sql(
      """
        SELECT videoID, rec16 as Reccomends
        FROM finalDF2008
        """)

e17 = spark.sql(
      """
        SELECT videoID, rec17 as Reccomends
        FROM finalDF2008
        """)

e18 = spark.sql(
      """
        SELECT videoID, rec18 as Reccomends
        FROM finalDF2008
        """)

e19 = spark.sql(
      """
        SELECT videoID, rec19 as Reccomends
        FROM finalDF2008
        """)

e20 = spark.sql(
      """
        SELECT videoID, rec20 as Reccomends
        FROM finalDF2008
        """)

finaledges2008 = e1.union(e2).union(e3).union(e4).union(e5).union(e6).union(e7).union(e8).union(e9).union(e10).union(e11).union(e12).union(e13).union(e14).union(e15).union(e16).union(e17).union(e18).union(e19).union(e20)
finaledges2008.createOrReplaceTempView('finaledges2008')

In [5]:
vertices2008 = spark.sql(
    """
    SELECT DISTINCT videoID as id
    FROM finalDF2008
    """
)

sqlFinalEdges2008 = spark.sql(
     """
       SELECT videoID as src, Reccomends as dst
       FROM finaledges2008
        """)

In [6]:
noNullEdges2008 = sqlFinalEdges2008.where(sqlFinalEdges2008.dst != 'null')

In [11]:
from graphframes import GraphFrame
v2008 = vertices2008
e2008 = noNullEdges2008

In [7]:

#e2008.cache()
#v2008.cache()
g2008 = GraphFrame(v2008, e2008)
results2008 = g2008.pageRank(resetProbability= 0.15, maxIter = 1)

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|-8E02ubcogo|0.8947947237957806|
|-9oQzeXGqjU|0.5984020785572196|
|36-VneN8Z_E|1.2815266495954107|
|7GyKt4RwXQg|0.5684394776588397|
|D5_UDa28a4c|1.0123518183246412|
|DMBcyt_CRM4|1.2479774681872893|
|EGCVRdZ5j78|1.3335862102018008|
|FXmEav8fc50|1.0138733380533649|
|GHkYUEdqw7U|0.5338633459960733|
|HfunkZMKMIo|0.8563770801079119|
|I2MsDogV4g4| 2.093710844614686|
|JjF8zJncvDo| 1.268926199736484|
|KHe1zJHtZw0|1.6059305022987649|
|KMU4qk9apGY|0.8542313176432667|
|Nfg8Ogu1rFo|1.1022372142969192|
|P0MvUZYE1Vg| 1.061553657133882|
|T10ZP4CnSBY|0.8354648035682074|
|VHDQ2EKmc3g|0.5142488042052193|
|c43eXbefnzs|0.5958069913984343|
|e-fEFtxe_LI| 1.672271789790411|
+-----------+------------------+
only showing top 20 rows

In [14]:
results2008.vertices.createOrReplaceTempView("results2008")
results2008ord = spark.sql(
                """
                SELECT * 
                FROM results2008
                ORDER BY pagerank DESC
                """
)
results2008ord.show()

NameError: name 'results2008' is not defined

In [12]:
from pyspark.sql.functions import coalesce, col, lit, sum, when
from graphframes.lib import Pregel
numVertices = v2008.count()
l2008 = GraphFrame(v2008, e2008).outDegrees
l2008.cache()
graph2008 = GraphFrame(l2008, e2008)
alpha = 0.15
ranks = graph2008.pregel \
        .setMaxIter(1) \
        .withVertexColumn("rank", lit(1.0/numVertices), \
                            coalesce(Pregel.msg(), lit(0.0)) * lit(1.0-alpha) + lit(alpha / numVertices)) \
        .sendMsgToDst(Pregel.src("rank") / Pregel.src("outDegree")) \
        .aggMsgs(sum(Pregel.msg())) \
        .run()

In [13]:
ranks.createOrReplaceTempView("Pregle2008")
pregel2008 = spark.sql (
        """
        SELECT *
        FROM Pregle2008
        ORDER BY rank DESC
        """)
pregel2008.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|KMP8OSWGcss|       40|3.517188781869857E-5|
|lkRUawKehLA|       40|3.138772710813611E-5|
|0rgQho8licc|       28|3.123484744085196E-5|
|Ba3N_awXcow|       40|2.816921636817448...|
|Ejb8QOyjz-E|       40|2.012231119830615...|
|TBrBkS5DA4Y|       40|1.941755865978858...|
|v3ARyAb_1Bs|       40|1.863084103317924...|
|sF84pIhP5UM|       40|1.831774231911334...|
|eBGIQ7ZuuiU|       28|1.802960418214307...|
|JR43BD6K7jg|       40|1.783752905594586E-5|
|xsRWpK4pf90|       40|1.782953602152783E-5|
|UheCchftswc|       40|1.667861459698304E-5|
|ktUSIJEiOug|       40| 1.56987923379947E-5|
|IG6wgKojMMs|       28|1.494027066055493...|
|89oS4SN4mNg|       38|1.475335523363048...|
|JznPMfYVWyE|       20|1.461610458653507...|
|XEQXIDbz6Oo|       40|1.458416732620963E-5|
|8JUvbJekM88|       40|1.439438546676238...|
|_wihKvfbFew|       20|1.420786084604458...|
|pwGLNbiw1gk|       20|1.409996327466927...|
+-----------+---------+--------------------+
only showing top 20 rows

Since our predictions of what videos would have the highest PageRank scores were completely wrong we decided to query for them in each of our tables.

# Chocolate Rain

In [25]:
chocrain = spark.sql (
    """ 
    SELECT *
    FROM results
    WHERE id = 'EwTZ2xpQwpA'
    """)

chocrain.show()

+-----------+------------------+
|         id|          pagerank|
+-----------+------------------+
|EwTZ2xpQwpA|0.9025025920602984|
+-----------+------------------+

In [11]:
chocrain2 = spark.sql (
    """ 
    SELECT *
    FROM Pregle
    WHERE id = 'EwTZ2xpQwpA'
    """)

chocrain2.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|EwTZ2xpQwpA|       20|3.543162952499619E-7|
+-----------+---------+--------------------+

In [14]:
chocrain4 = spark.sql (
    """ 
    SELECT *
    FROM Pregle2008
    WHERE id = 'EwTZ2xpQwpA'
    """)

chocrain4.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|EwTZ2xpQwpA|       40|8.456323908269459E-6|
+-----------+---------+--------------------+

In [ ]:




chocrain3 = spark.sql (
    """ 
    SELECT *
    FROM results2008
    WHERE id = 'EwTZ2xpQwpA'
    """)

chocrain3.show()

# Numa Numa

In [26]:
numa1 = spark.sql (
    """ 
    SELECT *
    FROM results
    WHERE id = 'KmtzQCSh6xk'
    """)

numa1.show()

+-----------+-----------------+
|         id|         pagerank|
+-----------+-----------------+
|KmtzQCSh6xk|8.354997214483403|
+-----------+-----------------+

In [12]:
numa2 = spark.sql (
    """ 
    SELECT *
    FROM Pregle
    WHERE id = 'KmtzQCSh6xk'
    """)

numa2.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|KmtzQCSh6xk|       20|2.311615082751400...|
+-----------+---------+--------------------+

In [15]:
numa4 = spark.sql (
    """ 
    SELECT *
    FROM Pregle2008
    WHERE id = 'KmtzQCSh6xk'
    """)

numa4.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|KmtzQCSh6xk|       40|7.666802140072092E-7|
+-----------+---------+--------------------+

In [21]:




numa3 = spark.sql (
    """ 
    SELECT *
    FROM results2008
    WHERE id = 'KmtzQCSh6xk'
    """)

numa3.show()

AnalysisException: Table or view not found: results; line 3 pos 9;
'Project [*]
+- 'Filter ('id = KmtzQCSh6xk)
   +- 'UnresolvedRelation [results]

# LEEEEEEEERoy JENKINS

In [27]:
leeroy1 = spark.sql (
    """ 
    SELECT *
    FROM results
    WHERE id = 'ufeEAxz1AH8'
    """)

leeroy1.show()

+---+--------+
| id|pagerank|
+---+--------+
+---+--------+

In [28]:
leeroy3 = spark.sql (
    """ 
    SELECT *
    FROM results2008
    WHERE id = 'ufeEAxz1AH8'
    """)

leeroy3.show()

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient;

In [16]:
leeroy4 = spark.sql (
    """ 
    SELECT *
    FROM Pregle2008
    WHERE id = 'ufeEAxz1AH8'
    """)

leeroy4.show()

+---+---------+----+
| id|outDegree|rank|
+---+---------+----+
+---+---------+----+

In [13]:


leeroy2 = spark.sql (
    """ 
    SELECT *
    FROM Pregle
    WHERE id = 'ufeEAxz1AH8'
    """)

leeroy2.show()

+---+---------+----+
| id|outDegree|rank|
+---+---------+----+
+---+---------+----+

# The missing piece 
https://www.youtube.com/watch?v=oHg5SJYRHA0

In [22]:
A = spark.sql (
    """ 
    SELECT *
    FROM Pregle2008
    WHERE id = 'oHg5SJYRHA0'
    """)

A.show()

+-----------+---------+--------------------+
|         id|outDegree|                rank|
+-----------+---------+--------------------+
|oHg5SJYRHA0|       56|1.887901064230858...|
+-----------+---------+--------------------+